[submodule "DynReActService/ShortTermRAS"]
	path = DynReActService/ShortTermRAS
	url = https://github.com/DynReAct/ShortTermRAS
[submodule "DynReActService/LotCreationRas"]
	path = DynReActService/LotCreationRas
	url = https://github.com/DynReAct/LotCreationRas
[submodule "DynReActService/LongTermPlanning"]
	path = DynReActService/LongTermPlanning
	url = https://github.com/DynReAct/LongTermPlanning
