.lotplanning-transfer-dialog {
    max-width: 50vw;
}

.lotplanning-transfer-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1em;
    row-gap: 0.5em;
    align-items: center;
    padding-bottom: 1.5em;
}

.lotplanning-transfer-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5em;
}

.lotplanning-structure-container {
    display: inline;
}

