:root {
  --ltp-portfolio-base: blue;
  --ltp-portfolio-light: lightblue;
  --ltp-portfolio-lighter: lightblue;
  --ltp-portfolio-dark: darkblue;
}

@supports (background-color: color-mix(in srgb, red 50%, blue 50%)) {
    :root {
        --ltp-portfolio-base: #4169E1;
        --ltp-portfolio-light: color-mix(in srgb, var(--ltp-portfolio-base), white);
        --ltp-portfolio-lighter: color-mix(in srgb, var(--ltp-portfolio-base), white 75%);
        --ltp-portfolio-dark: color-mix(in srgb, var(--ltp-portfolio-base), black);
    }
}


/* In central control panel */

.ltp-horizon-widget {
    display: flex;
    column-gap: 1em;
    align-items: center;
}

.ltp-horizon-widget>input {
    max-width: 9em;
}

.ltp-starttime-block {
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
}

.ltp-starttime-block>input {
    padding: 0.3em;
}

.ltp-result-container {
    display: flex;
    column-gap: 1em;
}

.ltp-result-container[hidden] {
    display: none;
}

/* In structure portfolio popup */

.ltp-production-total {
    display: flex;
    column-gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.ltp-production-total>input {
    max-width: 8em;
}

.ltp-materials-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5em;
    padding-top: 1em;
}

/* In calendar popup */

.ltp-calendar-plant-row {
    display: flex;
    column-gap: 1em;
    padding-bottom: 1em;
}

.ltp-init-panel2 {
    display: flex;
    align-items: flex-start;
    padding-left: 1em;
    column-gap: 4em;
}

@media only screen and (max-width: 1200px) {
    .ltp-init-panel2 {
        column-gap: 1em;
        justify-content: space-between;
    }
}

.ltp-init-panel2>div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.ltp-init-structure-body {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.ltp-init-storages-result {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1em;
    row-gap: 0.3em;
}

.ltp-overview-grid-header {
    font-weight: bold;
    /*color: rgba(235, 112, 25, 1); *//* rgba(2, 69, 17, 1); */
}

.ltp-settings-card {
    background-color: rgb(227, 227, 227);
    margin: 0.5em 0;
    padding: 0 1em;
    padding-bottom: 0.5em;
    box-shadow: 10px 5px 5px grey;
}

.ltp-init-processes {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 0.5em;
    row-gap: 0.3em;

}

/*
.ltp-init-processes>div:nth-child(6n+1),
.ltp-init-processes>div:nth-child(6n+2),
.ltp-init-processes>div:nth-child(6n+3) {
    background-color: red;
}
*/

.ltp-processes-cap {
    justify-self: end;
}

.ltp-process-min-capacity {
    display: flex;
    column-gap: 0.5em;
    margin-top: 1em;
}

.ltp-process-min-capacity>:first-child {
    font-weight: bold;
    color: rgba(2, 69, 17, 1);;
}
