[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "dynreact_service"
version = "0.0.1"
description = "The DynReAct service and GUI"
readme = "README.md"
license = "MIT"
homepage = "https://github.com/DynReAct/OSS_Platform"
repository = "https://github.com/DynReAct/OSS_Platform"
documentation = "https://github.com/DynReAct/OSS_Platform"
keywords = ["DynReAct", "Web UI", "GUI"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
packages = [
    { include = "dynreact"},
    { include = "dynreact/auth"},
    { include = "dynreact/service" },
    { include = "dynreact/gui" },
    { include = "dynreact/gui/pages" },
]

# Optional extras
[tool.poetry.dependencies]
python = "^3.12"

# Generic dependencies
numpy = ">=1.24,<3"
pandas = ">=2,<3"

# FastAPI related
python-dotenv = ">=1.0.0,<2.0"
pydantic = ">=2.7,<3"
fastapi = ">=0.115.2,<1.0"
uvicorn = { version = ">=0.32,<1.0", extras = ["standard"] }
ldap3 = ">=2.9,<3.0"

# Dash related
plotly = ">=5.24.1,<6"
dash = ">=2.18.1,<3"
dash-ag-grid = ">=31.2,<32"
dash-cytoscape = ">=1.0.2,<2"

flask = ">=3.0,<4"
flask-login = ">=0.6.3,<1"
requests = ">=2.32.3,<3"

# Excel exports (commented out)
# openpyxl = ">=3.1.2,<4"

# Dependent local modules
dynreact_base = { path = "../DynReActBase", develop = true }
dynreact_midtermplanning = { path = "../MidTermPlanning", develop = true }
dynreact_plugin_sampleuc = { path = "../SampleUseCase", develop = true }
dynreact-shortterm = { path = "../ShortTermPlanning", develop = true }

dynreact_ltp_ras = { path = "./LongTermPlanning", develop = true}
dynreact_plugin_ras = { path = "./LotCreationRas", develop = true }
dynreact_stp_ras = { path = "./ShortTermRAS", develop = true }